<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 控制台信息显示 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %c %x - %m%n "/>
        </layout>
    </appender>
    <!-- 在这里配置日志输出绝对路径 -->
    <appender name="FILELOG"  class="org.apache.log4j.DailyRollingFileAppender">
        <!-- 输出日志的最低级别，发生错误则输入日志ERROR -->
        <param name="Threshold" value="INFO"/>       
        <!-- 重启服务后清空日志 -->
        <param name="Append" value="false"/>        
        <!-- 日志输出路径 -->
        <param name="File" value="/logs/backupclient/out.log"/>
        <param name="DatePattern" value="'.'yyyyMMdd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>    
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="FILELOG"/>
        <appender-ref ref="CONSOLE"/>
    </appender>
    
    <!-- ===================================================================== -->  
    <!-- 以下是appender的定义，定义日志输出的目的地、输出方式及过滤级别        -->  
    <!-- ===================================================================== -->
     <appender name="debug-log" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="file" value="/logs/debug/debug.log"/>  
        <param name="append" value="false"/>  
        <param name="encoding" value="GBK"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d - %c -%l -%-4r [%t] %-5p - %m%n"/>  
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">   
        <param name="LevelMin" value="debug" />   
        <param name="LevelMax" value="debug" /> 
        </filter>    
    </appender>
      
    <appender name="root-log" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="file" value="/logs/root/root.log"/>  
        <param name="append" value="true"/>  
        <param name="encoding" value="GBK"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d - %c - %-5p - %m%n"/>  
        </layout>  
    </appender>  
      
    <appender name="sample-log" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="file" value="/logs/sample/sample.log"/>  
        <param name="append" value="true"/>  
        <param name="encoding" value="GBK"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d - %c - %-5p - %m%n"/>  
        </layout>  
    </appender>  
      
    <appender name="sample-log-console" class="org.apache.log4j.ConsoleAppender">  
        <param name="encoding" value="GBK"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d - %c - %-5p - %m%n"/>  
        </layout>  
    </appender>  
      
    <!-- ===================================================================== -->  
    <!-- 日志写出器：每一个logger可以有多个输出目的地和输出方式                -->  
    <!-- ===================================================================== -->  
    <logger name="sample" additivity="false">  
        <level value="info"/>  
        <appender-ref ref="sample-log"/>  
        <appender-ref ref="sample-log-console"/>  
    </logger> 
              
    <logger name="root" additivity="false">
        <level value="info"/> 
        <appender-ref ref="root-log"/>
    </logger> 
    
    <logger name="st" additivity="false">
        <level value="debug"/> 
        <appender-ref ref="debug-log"/>
    </logger>    
    
    <!-- ===================================================================== -->  
    <!-- Root logger 所有logger的基类，没有定义的logger将会使用root logger     -->  
    <!-- ===================================================================== -->         
    <root>
        <priority value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </root>
    
    <!-- ===================================================================== -->  
    <!-- 以下为自定义日志输出  -->
    <!-- ===================================================================== --> 
    
    <appender name="tablebak-log" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="file" value="/logs/tablebak/tablebak.log"/>  
        <param name="append" value="true"/>  
        <param name="encoding" value="GBK"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d - %c - %-5p - %m%n"/>  
        </layout>  
    </appender> 
    <logger name="tablebak" additivity="false">
        <level value="info"/> 
        <appender-ref ref="tablebak-log"/>
    </logger>
    
</log4j:configuration>