.navbar-form-custom {
    float: left;
    height: 52px;
    padding: 0;
    width: 200px;
}

@media screen and (min-width: 768px) {
    .site-header h1 {
        font-size:56px;
        text-shadow: -5px 5px 0 rgba(0,0,0,0.1);
    }
}
.site-header p {
    color: #f4f4f4;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.site-header span {
    font-size: 14px;
}
/*.site-header .input-lg {*/
    /*border-radius: 0;*/
/*}*/
/*#search-btn {*/
    /*border-radius: 0;*/
/*}*/
#result-list {
    padding: 5px 20px;
}
#result-list a {
    font-size: 1.2em;
    color: #006666;
}

.info-box-icon>img {
    vertical-align: bottom;
}

.nav>li>a>i {
    margin: 0 5px;
}
/*.nav-tabs-custom>.nav-relation>li.active {*/
    /*border-top-color: #001F3F;*/
/*}*/