<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swroom.genealogy.mapper.GenPersonMapper">
  <resultMap id="BaseResultMap" type="com.swroom.genealogy.model.po.GenPerson">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="style_name" jdbcType="VARCHAR" property="styleName" />
    <result column="self_name" jdbcType="VARCHAR" property="selfName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="father_id" jdbcType="INTEGER" property="fatherId" />
    <result column="father_name" jdbcType="VARCHAR" property="fatherName" />
    <result column="mother_name" jdbcType="VARCHAR" property="motherName" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="married" jdbcType="INTEGER" property="married" />
    <result column="spouse_name" jdbcType="VARCHAR" property="spouseName" />
    <result column="spouse_address" jdbcType="VARCHAR" property="spouseAddress" />
    <result column="dead" jdbcType="INTEGER" property="dead" />
    <result column="death_date" jdbcType="DATE" property="deathDate" />
    <result column="heir" jdbcType="INTEGER" property="heir" />
    <result column="heir_father_id" jdbcType="INTEGER" property="heirFatherId" />
    <result column="heir_father_name" jdbcType="VARCHAR" property="heirFatherName" />
    <result column="ancestral_sequence" jdbcType="INTEGER" property="ancestralSequence" />
    <result column="ancestral_sequence_memo" jdbcType="VARCHAR" property="ancestralSequenceMemo" />
    <result column="branch" jdbcType="INTEGER" property="branch" />
    <result column="person_memo" jdbcType="VARCHAR" property="personMemo" />
  </resultMap>
  <!-- 按名模糊查询 -->
  <select id="selectPersonByName" resultMap="BaseResultMap">
    SELECT * FROM gen_person
    WHERE name = #{simplifiedName} OR name = #{traditionalName}
    OR style_name = #{simplifiedName} OR style_name = #{traditionalName}
    OR self_name = #{simplifiedName} OR self_name = #{traditionalName}
  </select>
  <!-- 获取子数 -->
  <select id="getSonNum" resultType="int">
    SELECT count(pid) FROM gen_person WHERE father_id = #{pid} and sex = '1'
  </select>
  <!-- 获取女数 -->
  <select id="getDaughterNum" resultType="int">
    SELECT count(pid) FROM gen_person WHERE father_id = #{pid} and sex = '0'
  </select>
  <!-- 获取兄弟姐妹 -->
  <select id="getBrothers" resultMap="BaseResultMap">
    SELECT * FROM gen_person
    WHERE father_id = ( SELECT g.father_id FROM gen_person g WHERE g.pid = #{pid} )
  </select>
  <!-- 获取子女 -->
  <select id="getChildren" resultMap="BaseResultMap">
    SELECT * FROM gen_person WHERE father_id = #{pid}
  </select>
  <!-- 获取总记录数 -->
  <select id="getAllPersonCount" resultType="int">
    SELECT COUNT(pid) from gen_person
  </select>
</mapper>